name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - main  # or 'master'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: |
          sudo apt-get update
          sudo apt-get install -y libcairo2-dev freetype2-demos
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: |
          git config --global user.name github-actions
          git config --global user.email github-actions@github.com
      - run: pip install mkdocs-material[imaging]
      - run: mkdocs gh-deploy --force