name: Publish docs via GitHub Pages
on:
  push:
    branches:
      - main  # or 'master'

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: 3.x
      - run: pip install mkdocs-material 
      # Add other plugins here if needed, e.g., mkdocs-git-revision-date-localized-plugin
      - run: mkdocs gh-deploy --force